html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
}
.display-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.flex {
  flex: 1;
}

.justify-content-between {
  justify-content: space-between;
}
.content {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.content .main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f0f2f5;
}
