.header-logo-wrapper {
    position: relative;
  width: 100%;
  height: 60px;
}

.logo-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-main {
  position: absolute;
  left: 30px;
  bottom: 4px;
  width: 100px;
  height: auto;
}
.avatar-candidate {
  background: url("../images/background/avatar-candidate.png") no-repeat center;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border: none;
}