.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 20px 0;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  width: 600px;
  max-height: 656px;

  position: relative;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;

  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.modal-title {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}
.hidden {
  display: none !important;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-group.full-width {
  flex-basis: 100%;
}

.form-label {
  font-size: 14px;
  margin-right: 5px;
  color: #1e2633;
  height: 25px !important;
  line-height: 25px !important;
  font-family: Inter;
  font-weight: 500;
}

.required {
  color: #e74c3c;
  margin-left: 2px;
}
.form-input {
  height: 32px !important;
  line-height: 32px !important;
  padding: 0 16px;
  font-size: 14px !important;
}
.form-input::placeholder {
  color: #9aa0a6;
}
.form-input:hover {
  border-color: #2970f6;
}

.form-input:focus {
  outline: none;
  border-color: #2d7cff;
}

.form-textarea,
select.form-input {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.form-textarea {
  resize: vertical;
  min-height: 80px;
}

.form-section-title {
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.upload-area {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  border: 1px dashed #e0e0e0;
  border-radius: 3px;
  justify-content: center;
  cursor: pointer;
}

.add-more-link {
  color: #2680eb;
  cursor: pointer;
  font-weight: 500;
}

.submit-area {
  text-align: right;
  width: 100% !important;
  height: 56px !important;
  padding: 9px 12px !important;
  border-top: 1px solid #dddde4;
  background-color: #f1f2f5 !important;
}

.submit-button {
  background-color: #2ecc71;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #27ae60;
}
.mt-5 {
  margin: 8px -6px;
}
.mt-6 {
  margin-top: 24px;
}
.m-row {
  font-weight: normal;
  font-family: Inter, Helvetica, Arial, sans-serif;
  text-overflow: ellipsis;
  border-radius: 3px;
  min-height: 32px;
  padding: 0px 16px 0 16px;
  font-size: 14px !important;
}
.avatar-candidate-popup-add {
  padding-top: 15px;
  width: 100px;
  height: 63px;
  border-radius: 50%;
  margin-right: 16px;
  margin-top: 3px;
  position: relative;
}
.avatar-popup-add {
  width: 100%;
  height: 100%;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
}
.show-image {
  width: 68px;
  height: 68px;
  border-radius: 50% !important;
  object-fit: cover;
  border: 1px dashed #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-text-popup {
  color: #b2b2b2;
  font-size: 13px;
}
.popup-title-container {
  margin: 0px 16px 0 24px;
  position: sticky;
  padding: 25px 16px;
  z-index: 100;
  top: 0;
  background-color: #fff;
}
.icon-closed {
  mask-position: -73px -136px;
  width: 22px;
  height: 22px;
  min-width: 22px;
  background-color: #666666;
}
.popup-container {
  padding: 0 24px !important;
  font-size: 14px;
}
.file-msg {
  color: #2970f6;
}
.text-gray {
  color: #6a727d;
}
.file-msg2 {
  margin-top: 6px;
  font-family: Inter, Helvetica, Arial, sans-serif;
}
.date-native-wrapper {
  position: relative;
  width: 100%;
}

/* input */
.date-native {
  width: 100%;
  height: 32px;
  padding: 0 44px 0 12px;
  font-size: 14px;
  font-family: Inter, Helvetica, Arial, sans-serif;
  color: #1e2633;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  background-color: #fff;
}
/* đưa ấn sang chỗ icon */
.date-native::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
}
.date-native:invalid::-webkit-datetime-edit {
  color: #b2b2b2;
}

.date-native-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border-left: 1px solid #dcdfe6;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; 
}

.date-native-icon::before {
  content: "\f073"; /* calendar */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  color: #1e2633;
}

.form-label-row {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 25px;
  margin-bottom: 4px;
}

/* label bên trái */
.form-label-row .form-label {
  font-size: 14px;
  font-weight: 500;
  color: #1e2633;
}

/* option bên phải */
.date-format-select {
  border: none;
  background: transparent;
  color: #9aa0a6;
  cursor: pointer;
  padding: 0;
}
.gender-select {
  color: #9aa0a6;
}
.gender-select:valid {
  color: #1e2633;
}

.dictionary-setting {
  height: 30px;
  width: 30px;
  border: 1px solid #e0e0e0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0;
  top: 0;
  right: 0;
}

.form-input,
.form-textarea,
select.form-input {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
.dx-texteditor-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.dx-texteditor-input {
  font-weight: normal;
  font-family: Inter, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 32px;
  padding: 0 7px 0 16px;
  font-size: 14px;
  font-family: Inter, Helvetica, Arial, sans-serif;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
}
.input-reset {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 100%;
}
.form-group {
  margin: 7px;
}
.dx-texteditor-input::placeholder {
  color: #9aa0a6;
}
.dx-texteditor-input:hover {
  border-color: #2970f6;
}

.dx-texteditor-input:focus {
  outline: none;
  border-color: #2d7cff;
}
.dx-texteditor-buttons-container {
  display: flex;
  width: auto;
  flex-grow: 0;
  flex-basis: content;
  align-items: center;
}
.button-content {
  width: 30px;
  height: 30px;
  border: 1px solid #dcdfe6;
  border-left: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.education-input-wrapper {
  position: relative;
}
.input-with-icon {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
}
.form-row1 {
  flex: 1;
}
.education-info-container {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.mb-2 {
  gap: 3px;
  margin-bottom: 0.5rem;
  align-items: center;
}
.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #707070;
  border-radius: 3px;
  appearance: none;
  cursor: pointer;
  position: relative;
  outline: none;
}
.label-text {
  font-weight: 500;
  color: #1e2633;
}
.submit-area {
  width: 100% !important;
  height: 56px !important;
  padding: 7px 1px !important;
  border-top: 1px solid #dddde4;
  background-color: #f1f2f5 !important;
  position: sticky;
  bottom: 0;
  background: fff;
}

.footer {
  float: right;
}
.gap-8 {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  margin-right: 10px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.btn-close {
  color: #1e2633 !important;
  border: none !important;
  background-color: unset !important;
}
.btn-primary {
  background-color: #2680eb !important;
  color: #ffffff !important;
  border-color: transparent !important;
}

.flex-size {
  flex: 2;
}
.flex-size-label {
  flex: 1;
}
.success-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 0.5s ease;
}

.success-message.hidden {
  display: none;
  opacity: 0;
}
